
     <h3>This Week's Chores</h3>
     <div ng-init="accesshousehold()">
      <div class="col s12 m4"><button ng-click="showPoints()">Show Points to Date</button>
      <button ng-click="choreTurn()" style="float: right; max-height: 30%; min-height: 30%">Have an Untracked Chore? See who's on the hook!</button></div>
      <div class="row">

    <!--   <button ng-click="showPoints()">Show Points to Date</button>
      <button ng-click="choreTurn()">Is It CHORE Turn?</button> -->
        <div class="col s12 m4" ng-repeat="chore in chores">
          <div class="card  blue accent-2 darken-1">
              <span class="card-title" style="font-weight: bold">{{chore.name}}</span>
            <div class="card-image">
               <img ng-if="chore.assignedMember === houseMem1" class="memb-pic .img-responsive" src= "{{houseMem1img}}">
               <img ng-if="chore.assignedMember === houseMem2" class="memb-pic .img-responsive" src="{{houseMem2img}}">
               <img ng-if="!houseMem1img || !houseMem2img" class="memb-pic .img-responsive" src="https://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg">
               </div>
            <div class="card-content black-text" style="height: 35vh">

              <p style="font-weight: bold">Special Instructions: {{chore.description}}</p>
              <p>Assigned To: {{chore.assignedMember}}</p>
             <p ng-if="chore.frequency <= 0"> No Points Left to Learn By Completing This Chore</p>
             <!--  <p>This is houseMem1 {{houseMem1}}</p>
              <p>This is chore.assignedMember {{chore.assignedMember}}</p>
              <p> Earn {{chore.irritationPoints}} Points by Completing this Chore</p> -->
              <!-- <p ng-if="chore.completed === true">{{chore.assignedMember}} has completed this chore</p> -->
              <p ng-if="chore.completed === false">{{chore.assignedMember}} has not completed this chore</p>
              <p ng-if="chore.completed === true">Times Completed: {{chore.timesCompleted}}</p>
              <p ng-if="chore.frequency > 0">Weekly Frequency: {{chore.frequency}}</p>
              <p ng-if="chore.frequency <= 0" style="color: orange; font-weight: bold">This Chore Has Been Completed for the Week! You're a God in a Land of Lemons, {{chore.assignedMember}}</p>
              <p>Due By: {{chore.dueDate}}</p>
            </div>

            <div class="card-action">
              <button ng-click="completeChore(chore.id)">Mark This Chore Complete!</button>
              <!-- <a href="#" ng-click="completeChore()">Complete This Chore!</a> ON THIS CLICK, CHORE STATUS WILL CHANGE TO FALSE: PATCH-->
              <button ng-click="deleteChore(chore.id)">Delete This Chore From Your List</button>
                  <!-- <a href="#" ng-click="deleteChore()">Complete This Chore!</a> ON THIS CLICK, CHORE STATUS WILL CHANGE TO FALSE-->
            </div>
          </div>
        </div>
      </div>


