
     <div ng-init="accesshousehold()">
  <!--   <a class='btn' href='#/home'>Take Me Back Home</a> -->

  <div id="home-options">
    <a class='btn' href='#/newchore'>Enter A New  Chore</a>
    <a class='btn' href='#/allchores'>See All This Week's Chores</a>
    <a class='btn' href='#/householddata'>Show Us The Data</a>
    <a class='btn' href='#demoModal'>Get A Divorce</a>
</div>
     <h3>This Week's Chores</h3>

      <div class="input-field">
          <input id="search" ng-model="searchText.search" placeholder="Filter This Week's Chores By Member" type="search">
          <label for="search"><i class="material-icons">search</i></label>
      </div>
        <!-- </div> -->
      <div class="row">
        <div class="col s12 m4" ng-repeat="chore in chores | filter: {assignedMember: searchText.search}">
        <div class = "chore-card">
          <div class="card blue-grey lighten-3">
          <span class="card-title" style="font-weight: bold">{{chore.name}}</span>
            <div class="card-image">
               <img ng-if="chore.assignedMember === houseMem1" class="memb-pic .img-responsive" src= "{{houseMem1img}}" style="height: 32vh">
               <img ng-if="chore.assignedMember === houseMem2" class="memb-pic .img-responsive" src="{{houseMem2img}}" style="height: 32vh">
              <!--  <img ng-if="!houseMem1img || !houseMem2img" class="memb-pic .img-responsive" src="https://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg"> -->
               </div>

            <div class="card-content black-text" style="height: 30vh">

              <p style="font-weight: bold">Special Instructions: {{chore.description}}</p>
              <p>Assigned To: {{chore.assignedMember}}</p>
              <p>Irritation Points: {{chore.irritationPoints}}</p>
             <p ng-if="chore.frequency <= 0"> No Points Left to Learn By Completing This Chore</p>
             <!--  <p>This is houseMem1 {{houseMem1}}</p>
              <p>This is chore.assignedMember {{chore.assignedMember}}</p>
              <p> Earn {{chore.irritationPoints}} Points by Completing this Chore</p> -->
              <!-- <p ng-if="chore.completed === true">{{chore.assignedMember}} has completed this chore</p> -->
              <p ng-if="chore.completed === false">{{chore.assignedMember}} has not completed this chore</p>
              <p ng-if="chore.completed === true">Times Completed: {{chore.timesCompleted}}</p>
              <p ng-if="chore.frequency > 0">Weekly Frequency: {{chore.frequency}}</p>
              <p ng-if="chore.frequency <= 0" style="color: cornsilk; font-weight: bolder">This Chore Has Been Completed for the Week! Great job, {{chore.assignedMember}}!</p>
              <p>Due By: {{chore.dueDate}}</p>
            </div>

            <div class="card-action">
              <a class = "btn" ng-click="completeChore(chore.id)">Complete</a>
              <a class = "btn" ng-href="#/editchore/{{chore.id}}"  style="padding-left: 18px; padding-right: 18px">Edit</a>
              <a class="btn" ng-click="deleteChore(chore.id)"> Delete</a>
            </div>
            </div>
          </div>
        </div>

              </div>
      <div id="chore-track">
      <div class="col s12 m4"><a class = "btn" ng-click="showPoints()">Points to Date</a>
      <a class="btn" ng-click="choreTurn()" style="float: right; max-height: 30%; min-height: 30%">Unplanned Chore?</a></div>
      </div>
      </div>
      <!-- </div> -->


