<div ng-init="accesshousehold()">
<h1>Welcome, {{houseMem1}} and {{houseMem2}}!</h1>
<h2>How Can We Sustain Your Relationship?</h2>
<!-- <div class="parallax-container"> -->
    <div><img src={{bgimg}}></div>
<!-- </div> -->
<div id="home-options">
    <a class='btn' href='#/newchore'>Enter A New  Chore</a>
    <a class='btn' href='#/allchores'>See All This Week's Chores</a>
    <a class='btn' href='#/householddata'>Show Us The Data</a>
    <a class='btn' href='#demoModal'>Get A Divorce</a>
</div>
<!-- </div> -->
</div>
