<div ng-init="accesshousehold()">
<h4>Welcome, {{houseMem1}} and {{houseMem2}}! How Can We Help?</h4>
<!-- <h5>How Can We Sustain Your Relationship?</h5> -->
    <div><img class="bgimg" src={{bgimg}}></div>

<!-- <div class="parallax-container"> -->
<!-- </div> -->
<div id="home-options">
    <a class='btn' href='#/newchore'>Enter A New  Chore</a>
    <a class='btn' href='#/allchores'>See All This Week's Chores</a>
    <a class='btn' href='#/householddata'>Show Us The Data</a>
    <a class='btn' href='#demoModal'>Get A Divorce</a>
</div>
<!-- </div> -->
</div>
