<div ng-init="accesshousehold()">
<div class="parallax-container" style="width: 100%">
    <div parallax><img src="http://img.wikinut.com/img/19hgv38l3mly4kn3/jpeg/0/Happy-Couple.jpeg"></div>
<h1>Welcome {{houseMem1}} and {{houseMem2}}</h1>
<h2>How Can We Salvage Your Marriage?</h2>
 <button ng-click="showPoints()">Show Points to Date</button>
<button ng-click="choreTurn()" style="float: right">Have an Untracked Chore? See who's on the hook!</button>
<button ng-click="isThisFair()">Are You Guys Being Fair</button>
</div>
<!-- </div> -->
</div>



