<div ng-init="accesshousehold()">
   <!--  <a class='btn' href='#/home'>Take Me Back Home</a> -->
<div id="home-options">
    <a class='btn' href='#/newchore'>Enter A New  Chore</a>
    <a class='btn' href='#/allchores'>See All This Week's Chores</a>
    <a class='btn' href='#/householddata'>Show Us The Data</a>
    <a class='btn' href='#demoModal'>Get A Divorce</a>
</div>
<!-- <h1>Show Me the Data</h1> -->
<h2>Chore Data For: {{householdName}}</h2>
<canvas id="bar" class="chart chart-bar"
  chart-data="pointsToChart" chart-labels="householdMembersNamesArr" chart-series="series">
</canvas>
  </div>
