<section>
  <h2 style="text-align:center">Register Your Household or Login</h2>
  <div>
    Email: <input type="text" autofocus="true" ng-model="account.email" placeholder="joe@joe.com">
  </div>
  <div>
  </div>
    Password: <input type="password" ng-model="account.password" placeholder="Cats4eva!">
  <div>
<a class="waves-effect waves-light btn" ng-click="login()">Login</a>
<a class="waves-effect waves-light btn" ng-click="loginWithGoogle()">Login With Google</a>
<a class="waves-effect waves-light btn" ng-click="register()">Register</a>

</section>


