  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">@It's CHORE Turn!</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <!-- <li ng-show="!$parent.isLoggedIn"><a ng-href="#/">Login</a></li> -->
          <li ng-show="$parent.isLoggedIn"><a ng-click="goToAddNew()">Add a New Chore</a></li>
          <li ng-show="$parent.isLoggedIn"><a ng-click="goToAllChores()">View This Week's Chores</a></li>
          <li ng-show="$parent.isLoggedIn"><a ng-click="goToAllChores()">Is It CHORE Turn?</a></li>
          <!-- <li ng-show="$parent.isLoggedIn"><a ng-href="#/">NavOpt3</a></li> -->
          <li ng-show="$parent.isLoggedIn"><button ng-click="logout()">LogOut</button></li>
      </ul>
    </div>
  </nav>

