  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">@It's CHORE Turn!</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li ng-show="!$parent.isLoggedIn"><a ng-href="#/">Login</a></li>
          <li ng-show="$parent.isLoggedIn"><a ng-href="#/">NavOpt1</a></li>
          <li ng-show="$parent.isLoggedIn"><a ng-href="#/">NavOpt2</a></li>
          <li ng-show="$parent.isLoggedIn"><button ng-click="logout()">NavOpt3</button></li>
      </ul>
    </div>
  </nav>

