  <nav>
    <div class="nav-wrapper" style="background-color: #eeeeee">
      <span class="brand-logo" style="color: black; margin-top: 5px; margin-bottom: 25px; height: 5%; font-size: 3em">@It's CHORE Turn: The Divorce Alternative</span>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

       <!--    <li ng-show="$parent.isLoggedIn"><a ng-click="goToAddNew()" style="color: black" >Enter New Chores</a></li> -->
<!--
          WHY ISN'T THIS WORKING?? -->
    <!--       <li ng-hide="isActive('/home')" ><a ng-click="goToAddNew()" style="color: black" ng-hide="isActive('/home')">Enter New Chores</a></li>

          <li ng-hide="isActive('/home')" > <a ng-click="showMeData()" style="color: black" >Data, Please</a></li>
          <li ng-hide="isActive('/home')" ><a ng-click="allChores()" style="color: black" >All Chores</a></li>

          <li ng-hide="isActive('/home')" ><a ng-click="goHome()" style="color: black">Home</a></li> -->

         <button ng-click="logout()" class="right" ng-show="$parent.isLoggedIn">LogOut</button>

<!-- Modal Trigger -->
<!-- <div class="col" ng-show="!$parent.isLoggedIn">
    <a class='btn' href='#demoModal' style="float: right; margin-top: 1%" modal>How Does It Work?</a>
</div>
<div id="demoModal" class="modal">
       <div class="modal-content" style="color: black">
    <h5>@It's CHORE Turn!: The Divorce Alternative makes staying together easier-ish!</h5><h6> To use, register your household, create your partner profiles, and enter your household's weekly chores, including their frequency.</h6> <h6>Assign each chore a <b>mutually agreeable</b> number of "Irritation Points" on a scale of 1 to 10, with 1 being mildly annoying and 10 being about as much fun as a poke in the eye. </h6> <h6>As you and your somewhat-loved one complete your chores throughout the week, track them here. Every time you complete a chore, its Irritation Points will convert to your Points Earned. </h6> <h6>Then, when an unexpected chore comes up, we'll delegate it for you using the hard data you've given us, rather than your usual admixture of flawed logic, latent hostility, and bias.</h6>


    </div>
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Sign Me Up!</a>
    </div>
 -->

          <!-- <li ng-show="$parent.isLoggedIn"><a ng-href="#/">NavOpt3</a></li> -->
         <!-- <div></div> -->
      </ul>
    </div>
  </nav>

