<h2>{{title}}</h2>
<div class="row" ng-init="accesshousehold()">
    <form class="col sm12">

      <div class="row">
        <div class="input-field col sm12">
          <input type="text" ng-model="newChore.name" id="newChoreName">
          <label for="newChoreName">Chore Name</label>
        </div>


        <div class="input-field col sm12">
          <input type="text" ng-model="newChore.description" id="newChoreDescription">
          <label for="newChoreDescription">Chore Description</label>
        </div>
        </div>
        <div class="range-field col sm12">
          <input type="range" max="10" min="1" id ="IP" ng-model="newChore.irritationPoints">
          <label for="newChoreIrritationPoints">Irritation Points</label>
        </div>
      </div>
      <div class="range-field col sm12">
      <input type="date" class="datepicker" id="datepicker" ng-model="newChore.dueDate">
      <label for="datepicker">Due Date</label>
    </div>
        <p>
      <input type="checkbox" id="houseMem1" />
      <label for="houseMem1">{{houseMem1}}</label>
    </p>
    <p>
      <input type="checkbox" id="houseMem2" ng-click="houseMem1Selected()"/>
      <label for="houseMem2" ng-click="houseMem2Selected">{{houseMem2}}</label>
    </p>
    <p>

<!--     <div class="row">
     <div class="input-field col s12">
  <div>Assigned To:</div>
  <div>{{houseMem1}}</div><input type="checkbox">
  <div>{{houseMem2}}</div>
  </div>
  </div> -->

      <div class="row">
        <div class="input-field col s12">
          <button class="btn btn-default" ng-click="addNewChore()">{{btnText}}</button>
        </div>
      </div>
    </form>
  </div>

