<h2>Welcome to <i>It's CHORE Turn!</i>, The Weekly Chore Tracker and Leading Divorce Preventative for Couples</h2>
<div class="row">
<div class="input-field col sm 12">
</div>
</div>
<div class="row">
    <form class="col sm12">

      <div class="row">
        <div class="input-field col sm12">
          <input type="text" ng-model="newHouse.name" id="newHouseName">
          <label for="newHouseName">Household Name:</label>
        </div>


        <div class="input-field col sm12">
          <input type="text" ng-model="newMember1.name" id="newHouseMember1">
          <label for="newHouseMember1">Enter Partner 1's Name: </label>
        </div>
        </div>

      <div class="row">
        <div class="input-field col sm12">
          <input type="text" ng-model="newMember2.name" id="newHouseMember2">
          <label for="newHouseMember1">Enter Partner 2's Name:</label>
        </div>

      <div class="row">
        <div class="input-field col s12">
          <button class="btn btn-default" ng-click="addNewHouse()">{{btnText}}</button>
       <!--    <button class="btn btn-default" ng-click="addNewMember()">Add Members</button> -->
        </div>
      </div>
    </form>
  </div>

