<h1>How It Works</h1>

   <ul class="collection">
      <li class="collection-item">Step One: Register Your Household</li>
      <li class="collection-item">Step Two: As a Household, Input Your Weekly Chores, Including Their Frequency</li>
      <li class="collection-item">Step Three: Assign Each Chore a Value of Mutually Determined Irritation Points</li>
      <li class="collection-item">Step Four: Track Your Chores As You Complete Them and Watch Your Chore's Irritation Points Convert to Points In Your Favor</li>
      <li class="collection-item">Step Five: Let <i>It's CHORE Turn!</i>Determine, Based on Points Accrued, Who's On the Hook for Completing a </li>
      <li class="collection-item">If All Else Fails, Use Our Free Service to Find a Marriage Counselor In Your Area</li>

    </ul>

    <button ng-click="signMeUp()">Sign Me Up</button>

