body {
    background-color: whitesmoke;
    font-family: "Raleway";
}


img {
 /*max-height: 100%;*/
width: 100%;
}

h1, h2, h3, h4 {
    text-align: center;
    text-shadow: 2px 2px 1px;
    color: black;
    margin-top: 50px;
    margin-bottom: 35px;
}

h3 {
    margin-top: 45px;
}
.brand-logo {
    font-family: "Monoton";
    /*font-size: 3em;*/
}

#chore-track {
    margin-bottom: 35px;
}

.btn, button {
    background-color: darkgrey;
    box-shadow: 5px 5px 10px darkgrey;
    font-weight: 900;
}

button {
    box-shadow: 2px 2px 2px;
}

.btn:hover {
    background-color: #212121;
}

.card {
    box-shadow: 20px 10px 10px;
}

#home-options{
    display: block;
    width: 75%;
    margin: 2% auto;
}

a {
    color: black;
}

#search {
    box-shadow: 5px 5px 5px darkgrey;
}
